@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:14px; color: #000; background:#f9f9f9; font-family:Arial, Helvetica, sans-serif;}
#boy{width:980px; height:2106px; margin:0px auto; background:#FFF;}
#body{width:960px; height:2106px; margin:0px auto; background:#FFF;}
#head{width:960px; height:200px; background-image:url(../img/logo.jpg);}
#banner{width:960px; height:24px; background-image: url(../img/lo.jpg);}
#banner li{list-style:none; margin-left:100px;}
#banner li a:hover{background:#bbbbbc;}
#banner li a:active{background:#bbbbbc; color:#e2144a;}
#banner li a:link{background:#bbbbbc;}
#banner li a{text-decoration:none; height:24px; margin-left:20px; color:#000; line-height:24px; text-align:center;}
#left0{width:218px; height:800px; font-size:12px; background:#f7f7f7; float:left; float:left; margin-top:20px; border:1px solid #eceded;}
#left{width:218px; height:1850px; font-size:12px; background:#f7f7f7; float:left; float:left; margin-top:20px; border:1px solid #eceded;}
#lieb li{margin:10px auto auto 10px;; list-style:none;}
#lieb li a{text-decoration:none; width:198px; height:18px; line-height:18px; float:left; margin-top:10px; border:2px solid #eceded; background:#FFF; color:#000;}
#libd li{margin:10px auto auto 20px;; list-style:none; border:2px solid #eceded; width:188px; float:left;}
#libd li a{text-decoration:none; width:188px; height:18px; line-height:18px; float:left; background:#FFF; color:#000;}
#title11 a{text-decoration:none; width:198px; height:18px; line-height:18px; float:left; margin-top:10px; border:2px solid #eceded; background:#FFF; color:#000; margin:10px auto auto 10px;}
#content11{width:200px; height:295px; border:2px dotted #eceded; background:#FFF; margin:10px auto auto 5px; float:left;}
#content11 a{text-decoration:none; width:160px; height:25px; line-height:18px; float:left; color:#000;}
#title12 a{text-decoration:none; width:198px; height:18px; line-height:18px; float:left; margin-top:10px; border:2px solid #eceded; background:#FFF; color:#000; margin:10px auto auto 10px;}
#content12{width:160px; height:120px; border:2px dotted #eceded; background:#FFF; margin:10px auto auto 10px; float:left;}
#content12 a{text-decoration:none; width:160px; height:25px; line-height:18px; float:left; color:#000;}
#left1{width:218px; height:2200px; font-size:12px; background:#f7f7f7; float:left; float:left; margin-top:20px; border:2px solid #efefef;}
#left1 li{margin:10px auto auto 10px;; list-style:none;}
#left1 li a{text-decoration:none; width:198px; height:18px; line-height:18px; float:left; margin-top:10px; border:2px solid #eceded; background:#FFF; color:#000;}
#right0{width:718px; height:900px; float:right; margin-top:20px; font-size:12px;}
#right{width:718px; height:1300px; float:right; margin-top:20px; font-size:12px;}
#right1{width:718px; height:2300px; float:right; margin-top:20px; font-size:12px;}
#right p{margin-top:50px;}
#home img{width:123px; height:175px; margin:30px auto auto 15px;}
#tu img{width:718px; height:300px;}
#bam img{width:718px; height:180px;}
#bamboo{width:718px;}
#boo{width:206px; float:left;}
#boo img{margin-top:10px; width:206px; height:160px;}
#bo{width:500px; float:right;}
#bo p{line-height:20px;}
#bo1 p{line-height:20px;}
#tab{width:718px; height:250px; float:left; margin-top:20px;}
#tab .fib{widrh:250px; float:left;}
#tab .table{float:left; margin:10px 10px;}
#tab .table table{text-align:right;}
#dibu{width:718px; float:left; margin-top:20px;}
#ba img{width:718px; height:420px;}
.table{text-align:right;}
.tabl tr td{text-align:center;}
#zhu img{width:718px; height:350px;}
#lef{width:359px; float:left; margin-top:20px;}
#rig{width:359px; float:right; margin-top:20px;}
#rig img{width:300px; height:300px; float:right;}
#vis img{width:230px; height:200px; float:left;}
#jul{width:718px; margin-top:20px;}
#cose img{width:718px; height:420px; float:right;}
#wenz{width:660px; line-height:20px; float:left;}
#wen{
	width:718px;
	line-height:20px;
	margin-top:20px;
	color: #999;
}
#wen img{width:450px; height:590px; float:left; margin-top:30px;}
#xian img{width:340px; height:340px; margin-top:-190px; margin-left:375px; position:relative; z-index:1;}
#prd img{width:229px; height:320px;}
#zi{
	width:320px;
	float:left;
	color: #999;
}
#zi img{width:300px; height:300px;}
#img{width:320px; float:right;}
#img img{width:300px; height:430px; float:left;}
#orga{
	width:300px;
	margin-top:30px;
	color: #999;
}
#ie1{width:315px; float:left; line-height:20px;}
#ie1 a{text-decoration:none;}
#ie2{width:370px; float:left; margin-left:20px; line-height:20px;}
#ie2 a{text-decoration:none;}
#fuw{width:310px; margin:60px auto auto 28px; float:left; line-height:20px;}
#fuw a{text-decoration:none;}
#kef{width:244px; margin:60px auto auto 38px; float:left;}
#kef img{width:240px; height:290px;}
#fla{width:400px; float:left;}
#fimg{width:300px; float:right;}
#fimg img{width:300px; height:400px;}
#ditu{width:300px; float:left;}
#ditu img{width:260px; height:280px; float:left; margin-left:20px;}
